{{ form_start(form, {method: 'POST', action: path('app_comments_responses_new', {'commentId': comment.id})}) }}
    <fieldset>
        <legend>Add comment response</legend>
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_help(form.content) }}
        </div>

        <button class="btn btn-secondary" type="submit">Publish</button>
    </fieldset>
{{ form_end(form) }}
