<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <title>{% block title %}{% endblock %} &mdash; Symfony Blog</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a style="font-size: 22px;" class="navbar-brand" href="{{ path('app_home') }}">Symfony Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_articles_index') }}">Blog <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <div class="my-2 my-lg-0">
                        {% if app.user %}
                            <a href="{{ path('app_user_account_edit') }}" class="btn btn-secondary my-2 my-sm-0">Profile</a>
                            <a href="{{ path('app_logout') }}" class="btn btn-danger my-2 my-sm-0">Logout</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="btn btn-success my-2 my-sm-0">Login</a>
                            <a href="{{ path('app_user_account_edit') }}" class="btn btn-warning my-2 my-sm-0">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-3">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>
