<div style="display: flex; justify-content: flex-end; padding: 0 20px 20px">
    <div class="card border-warning w-100" style="">
        <div class="card-header">
            <div class="row" style="justify-content: space-between">
                <div class="text-left">
                    <h4>
                        <img class="author-profile" alt="{{ commentResponse.author.fullName }}"
                                {% if commentResponse.author.profile %}
                                    src="{{ vich_uploader_asset(commentResponse.author.profile, 'avatarFile') }}"
                                {% else %}
                                    src="{{ asset('images/default-user-profile.png') }}"
                                {% endif %}
                        >
                        <strong>{{ commentResponse.author.fullName }}</strong>
                    </h4>
                </div>

                <div class="text-right"
                     style="display: flex; justify-items: center; justify-content: space-between">
                    {% if commentResponse.author == app.user %}
                        <div class="mr-1">
                            <a class="btn btn-outline-warning"
                               href="{{ path('app_comments_responses_edit', {'id': commentResponse.id}) }}">
                                <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit
                            </a>
                        </div>
                        <div class="ml-1">
                            {{ include('comments_responses/delete/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row" style="justify-content: space-between">
                <div class="text-right">
                    {{ commentResponse.publishedAt | format_datetime('long', 'medium', '', 'UTC') }}
                </div>
            </div>
        </div>
        <div class="card-body">
            {#                                    <h4 class="card-title">Warning card title</h4>#}
            <p class="card-text">
                {{ commentResponse.content | raw }}
            </p>
        </div>
    </div>
</div>