{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="article mt-5 mb-5">
        <h1>{{ article.title }}</h1>
        <p class="article-metadata">
            <span class="metadata"><i class="fa fa-calendar"></i> {{ article.publishedAt | format_datetime('long', 'medium', '', 'UTC') }}</span>
            <span class="metadata"><i class="fa fa-user"></i> {{ article.author.fullName }}</span>
        </p>
        <div class="article-show-image">
            <img style="width: 100%; height: 50%" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}"/>
        </div>
        <div class="article-show-content mt-3">
            <p style="font-size: 18px" class="text-justify">{{ article.content }}</p>
        </div>
    </div>

    {{ include('articles/tags/_articles_tags.html.twig') }}

    <div class="mt-5">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('App\\Controller\\CommentsController::createCommentForm', {'id': article.id})) }}
        {% else %}
            <div class="jumbotron w-75" style="padding-bottom: 5px; padding-top: 20px">
                <p style="font-size: 20px;">
                    <a style="font-size: 16px; font-weight: bolder" class="btn btn-outline-success mr-2" href="{{ path('app_login', {'redirect_to': app.request.pathInfo}) }}">
                        <i class="fa fa-sign-in mr-1" aria-hidden="true"></i> Login to publish
                    </a>
                    a new comment
                </p>
            </div>

        {% endif %}
    </div>
    <h3 class="mt-5 mb-5">
        <i class="fa fa-comments mr-2" aria-hidden="true"></i>&nbsp;{{ article.comments | length }}
        {% if article.comments | length <= 1 %}
            Comment
        {% else %}
            Comments
        {% endif %}
    </h3>

    {% if article.comments | length > 0 %}
        {% for comment in article.comments %}
            {{ include('articles/show/_comments_list.html.twig') }}
        {% endfor %}
    {% else %}
        <div class="post-comment">
            <p>No comments</p>
        </div>
    {% endif %}

{% endblock %}
